<p-toast></p-toast>

<p-table
  #engineDataTable
  [value]="historyList"
  [totalRecords]="historyList.length"
  [rows]="10"
  [autoLayout]="true"
  styleClass="p-datatable-striped"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="header">Search History</span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="timestamp">
        Timestamp <p-sortIcon field="timestamp"></p-sortIcon>
      </th>
      <th pSortableColumn="keyword">
        Keyword <p-sortIcon field="keyword"></p-sortIcon>
      </th>
      <th pSortableColumn="contentType">
        Content Type <p-sortIcon field="contentType"></p-sortIcon>
      </th>
      <th>Page</th>
      <th>Region</th>
      <th>Saved</th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>
        {{ rowData.timestamp | date: "d MMM y, H:mm:ss":"UTC +7" }}
      </td>
      <td>
        {{ rowData.keyword }}
      </td>
      <td style="text-transform: capitalize">
        {{ rowData.contentType }}
      </td>
      <td>
        {{ rowData.page }}
      </td>
      <td>
        {{ regionDict[rowData.region] }}
      </td>
      <td style="text-transform: capitalize">
        {{ rowData.saveMethod }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-replay"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="loadContentFile(rowData)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteHistory(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog
  defaultFocus="none"
  acceptButtonStyleClass="p-button-danger"
  rejectButtonStyleClass="p-button-text p-button-plain"
  [style]="{ width: '450px' }"
></p-confirmDialog>
