::ng-deep .p-menubar {
  background-color: white !important;
  min-height: 4rem;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  margin-top: -0.6rem;
}

.header {
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  font-size: 1.5rem;
}

.home-layout {
  &:hover {
    cursor: pointer;
  }
}
