<p-toast position="top-center"></p-toast>

<!-- <span>{{ engineList | json }}</span> -->

<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
  <div class="p-grid p-fluid p-jc-center p-ai-end vertical-container p-m-1">
    <div class="p-col-12 p-md-4">
      <label>
        Keyword
        <small class="p-error">
          <span>*</span>
          <span
            *ngIf="
              !searchForm.controls['keyword'].valid &&
              searchForm.controls['keyword'].dirty
            "
            >required</span
          >
        </small>
      </label>
      <input type="text" pInputText formControlName="keyword" />
    </div>

    <div class="p-col-12 p-md-2">
      <label>
        Search engine ID
        <i
          class="pi pi-question-circle"
          pTooltip="Search engine ID in Google Programmable Search."
          style="font-size: 0.75rem"
        ></i>
        <small class="p-error p-pl-1">
          <span>*</span>
          <span
            *ngIf="
              !searchForm.controls['searchEngineId'].valid &&
              searchForm.controls['searchEngineId'].dirty
            "
            >required</span
          >
        </small>
      </label>

      <p-dropdown
        [options]="engineList"
        [(ngModel)]="searchForm.value.searchEngineId"
        [editable]="true"
        (onChange)="onEngineChange($event)"
        placeholder="Select"
        optionLabel="name"
        optionValue="searchEngineId"
        formControlName="searchEngineId"
      ></p-dropdown>
      <!-- <input type="text" pInputText formControlName="searchEngineId" /> -->
    </div>

    <div class="p-col-12 p-md-2">
      <label>
        Content Type
        <small class="p-error">
          <span>*</span>
          <span
            *ngIf="
              !searchForm.controls['contentType'].valid &&
              searchForm.controls['contentType'].dirty
            "
            >required</span
          >
        </small>
      </label>

      <p-dropdown
        [options]="types"
        [(ngModel)]="searchForm.value.contentType"
        placeholder="Select"
        optionLabel="key"
        optionValue="value"
        formControlName="contentType"
      ></p-dropdown>
    </div>

    <div class="p-col-12 p-md-1">
      <label>
        Page
        <i
          class="pi pi-question-circle"
          pTooltip="The default page is first. And maximum results per page is 10."
          style="font-size: 0.75rem"
        ></i
      ></label>
      <input type="text" pInputText placeholder="1" formControlName="page" />
    </div>

    <div class="p-col-12 p-md-2">
      <label>Region</label>
      <p-dropdown
        [options]="regions"
        [(ngModel)]="searchForm.value.region"
        placeholder="Select"
        optionLabel="key"
        optionValue="value"
        formControlName="region"
      ></p-dropdown>
    </div>

    <div class="p-col-4 p-md-1">
      <p-button
        pRipple
        styleClass="p-button-sm"
        type="submit"
        label="Search"
        icon="pi pi-search"
        iconPos="left"
      ></p-button>
    </div>
  </div>
</form>

<p-table
  #dataTable
  [columns]="selectedColumns"
  [value]="contentList"
  [resizableColumns]="false"
  [autoLayout]="true"
  [(selection)]="selectedContentList"
  styleClass="p-datatable-lg p-datatable-gridlines p-datatable-striped p-datatable-responsive-demo"
  [exportFilename]="searchedParams?.contentType + '_' + searchedParams?.keyword"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <p-multiSelect
        [options]="allColumns"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ minWidth: '300px' }"
        placeholder="Choose Columns"
      ></p-multiSelect>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-o"
        (click)="dataTable.exportCSV()"
        class="p-ml-2"
        pTooltip="Export all as CSV file"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-filter"
        (click)="dataTable.exportCSV({ selectionOnly: true })"
        class="p-button-info p-ml-auto"
        pTooltip="Export selected rows"
        tooltipPosition="left"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th style="width: 4rem"></th>
      <th *ngFor="let col of columns" pResizableColumn>
        {{ col.header }}
        <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-image"
          class="p-button-rounded p-button-text"
          (click)="displayDialog(rowData)"
        ></button>
      </td>
      <td
        *ngFor="let col of columns"
        [pTooltip]="rowData[col.field]"
        [showDelay]="500"
      >
        <span class="p-column-title">{{ col.header }}</span>
        <!-- <div class="p-text-nowrap p-text-truncate"> -->
        <!-- {{ rowData[col.field] }} -->
        <!-- </div> -->
        <span
          *ngIf="
            col.field === 'url' || col.field === 'image';
            else templateName
          "
          (click)="goToExternalWebsite(rowData[col.field])"
          class="url-text"
        >
          {{ rowData[col.field] }}
        </span>
        <ng-template #templateName>{{ rowData[col.field] }}</ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>

<span *ngIf="selectedExampleRow">
  <p-dialog
    header="Example Content Card"
    [(visible)]="isDisplayDialog"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
  >
    <div class="p-d-flex p-jc-center p-mt-2">
      <p-card
        [header]="selectedExampleRow.title"
        [subheader]="selectedExampleRow.sitename"
        [style]="{ width: '360px' }"
        styleClass="p-shadow-8"
      >
        <ng-template pTemplate="header">
          <img [src]="selectedExampleRow.image" />
        </ng-template>
        <p>
          {{ selectedExampleRow.description }}
        </p>
      </p-card>
    </div>
  </p-dialog>
</span>
