<p-toast></p-toast>

<p-table
  #engineDataTable
  [value]="engineList"
  [rows]="engineList.length"
  [autoLayout]="true"
  styleClass="p-datatable-striped"
  [rowHover]="true"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center">
      <button
        pButton
        pRipple
        label="New Engine"
        icon="pi pi-plus"
        class="p-button-sm"
        (click)="createEngineMode()"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Search Engine ID</th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="contentType">
        Content Type <p-sortIcon field="contentType"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr *ngIf="rowData.searchEngineId !== 'create'">
      <td>
        {{ rowData.searchEngineId }}
      </td>
      <td>
        {{ rowData.name }}
      </td>
      <td style="text-transform: capitalize">
        {{ rowData.contentType }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editEngineMode(rowData)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteEngine(rowData)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="isOpenDialog"
  [style]="{ width: '450px' }"
  header="Skill Details"
  [modal]="true"
  [contentStyle]="{ overflow: 'visible' }"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="engineForm" (ngSubmit)="saveEngine()">
      <div class="p-field">
        <label for="searchEngineId">Search Engine ID</label>
        <input
          type="text"
          pInputText
          id="searchEngineId"
          [(ngModel)]="engineForm.value.searchEngineId"
          formControlName="searchEngineId"
          autofocus
        />
      </div>

      <div class="p-field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="engineForm.value.name"
          formControlName="name"
        />
      </div>

      <div class="p-field">
        <label for="contentType">Content Type</label>
        <p-dropdown
          [options]="types"
          [(ngModel)]="engineForm.value.contentType"
          formControlName="contentType"
          placeholder="Select"
          optionLabel="key"
          optionValue="value"
        ></p-dropdown>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text p-button-plain"
      (click)="closeDialog()"
    ></button>

    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      (click)="saveEngine()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog
  defaultFocus="none"
  acceptButtonStyleClass="p-button-danger"
  rejectButtonStyleClass="p-button-text p-button-plain"
  [style]="{ width: '450px' }"
></p-confirmDialog>
